* {
    margin: 0;
    padding: 0;
    font-family: "Angst";
}

html {
    overflow-x: hidden;
    }

/* navbar start */

.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: rgb(0, 0, 0) !important;
}

.navbar-brand img {
    width: 2em;
}

.navbar-nav .nav-link {
    color: blanchedalmond;
}

/* navbar end */

/* body start */
body {
    background: rgb(99, 35, 35);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* first row start */

section {
    margin: auto;
    margin-top: 2.5%;
    max-width: 1300px;
}

.container{
    display: inline;
}

.row {
    padding-bottom: 30px;
}

#main {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#anim {
    animation: myAnim 5s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

#main>.row>h1 {
    width: 100%;
    margin: 10px;
    text-align: center;
    font-size: 6.5em;
    font-family: 'Angst';
    line-height: 15%;
    color: rgb(148, 85, 85);
}

#main>.row>h2 {
    width: 100%;
    margin: 10px;
    text-align: center;
    font-size: 3em;
    font-family: 'Angst';
    line-height: normal;
    color: rgb(184, 139, 121);
}

@font-face {
    font-family: 'Angst';
    font-style: normal;
    src: local("Angst-BoldSerif"),
    local("Angst-BoldSerif.otf")
}

/* first row end */

/* secpnd row start */

p {
    margin: 0;
}

#second-row div div p {
    font-size: 200%;
}
#second-row div div #h1 {
    font-size: 250%;
}

/* second row end */

#bottom div div {
    margin-bottom: 30px;
}


/* fotter start */

footer {
    background-color: rgb(0, 0, 0);
    margin-top: auto;
}

.footer-text {
    color: blanchedalmond;
    margin: auto auto;
    margin-top: 1rem;
}


@media (max-width: 1300px) {

    #main>.row>h1 {
        width: 100%;
        margin: 10px;
        text-align: center;
        font-size: 4em;
        font-family: 'Angst';
    }
    
    #main>.row>h2 {
        width: 100%;
        margin: 10px;
        text-align: center;
        font-size: 2em;
        font-family: 'Angst';
    }

    #second-row div div p {
        font-size:150%;
    }
    #second-row div div #h1 {
        font-size: 200%;
    }

    section {
        margin: 2.5%;
    }
    
}


@media (max-width: 800px) {
    #main>.row>h1 {
        width: 100%;
        margin: 10px;
        text-align: center;
        font-size: 3em;
        font-family: 'Angst';
        line-height: 10%;
    }
    
    #main>.row>h2 {
        width: 100%;
        margin: 10px;
        text-align: center;
        font-size: 1em;
        font-family: 'Angst';
    }

    #second-row div div p {
        font-size: 80%;
    }
    #second-row div div #h1 {
        font-size: 120%;
    }




}

@media (max-width: 650px) {
    #main>.row>h1 {
        width: 100%;
        margin: 10px;
        text-align: center;
        font-size: 2em;
        font-family: 'Angst';
        line-height: 1px;
    }
    
    #main>.row>h2 {
        width: 100%;
        margin: 10px;
        text-align: center;
        font-size: 1em;
        font-family: 'Angst';
    }

    #second-row div div p {
        font-size: 70%;
    }
    #second-row div div #h1 {
        font-size: 120%;
    }

}



@media (max-width: 450px) {
    #main>.row>h1 {
        width: 100%;
        margin: 3px;
        text-align: center;
        font-size: 1em;
        font-family: 'Angst';
        line-height: 1px;
    }
    
    #main>.row>h2 {
        width: 100%;
        margin: 3px;
        text-align: center;
        font-size: 0.5em;
        font-family: 'Angst';
    }

    #second-row div div p {
        font-size: 50%;
    }
    #second-row div div #h1 {
        font-size: 100%;
    }
}

